body{
  background-color: black;
  }
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calc-wrapper {
    background-color: #ade8f4;
    width: 400px;
    border-radius: 16px;
  }
  .row{
    display: flex;
  }
  
  